 /*
lightest to darkest
#8f9779
#78866b
#738276
#738678
#4d5d53
*/
.basic{
  text-align: left;
}

.notebook-wrapper{
  display:grid;
  grid-template-columns:repeat(1,1fr);
  grid-auto-rows:minmax(20px,auto);
}
.notebook{
  grid-row: 1;
  grid-column:1;
  padding:10px 10px 10px 10px;
  background-color: #4d5d53;
}

.page-wrapper{
  display:grid;
  grid-template-columns:repeat(2,45vw);
  grid-gap:5vw;
  grid-auto-rows:minmax(20px,auto);
  padding:10px 10px 10px 25px;
  background-color: #ffffdd;
}
.page-inner-wrapper{
  display:grid;
  grid-template-columns:repeat(1,50vw);
  grid-auto-rows:minmax(20px,auto);
  padding:10px 10px 10px 25px;

}
.awesome-wrapper{
  display:grid;
  grid-template-columns:repeat(1,1fr);
  grid-auto-rows:minmax(20px,auto);
  padding:10px 10px 10px 25px;

}
.awesome-col-one{
  Text-align: center;
}

.page-col-one-wrapper{
  display:grid;
  grid-template-columns:repeat(1,50vw);
  grid-auto-rows: max-content;
  word-wrap:break-word;
}
.page-col-one-row-one{
  grid-row: 1;
  grid-column:1;
  padding:10px 10px 10px 10px;
}
.page-col-one-row-two{
  grid-row: 2;
  grid-column:1;
  padding:10px 10px 10px 40px;
}
.page-col-one-row-three{
  grid-row: 3;
  grid-column:1;
  padding:10px 10px 10px 40px;
}
.page-col-two-wrapper{
  display:grid;
  grid-template-columns:repeat(1,45vw);
  grid-auto-rows:minmax(20px,auto);
}
.page-col-two{
  grid-row: 1;
  grid-column:1;
  margin:10px 10px 10px 10px;
  padding:10px 10px 10px 10px;
}

/*Hub Section*/
.hub .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background: white;
    padding:10px 10px 0px 10px;
  }
  .hub .new{
    grid-row:2;
    grid-column:2/3;
    padding-bottom: 50px;
  }
  .hub .upload {
    grid-row: 3;
    grid-column: 2/3;
    padding-bottom: 50px;
  }
  .OverviewWrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(25px, auto);
      background-color: #ffffdd;
      padding:10px 10px 0px 10px;
    }
  .ThePage { 
    grid-column:  3;
    grid-row: 1;
    overflow:auto;
    height: 775px;
    border: 1px solid;
    box-shadow: 5px 10px #888888;
    margin-top:5px;
    background-color:white;

  }
  .TheNote { 
    grid-column:  3;
    grid-row: 1;
    overflow:auto;
    height: 387px;
    border: 1px solid;
    box-shadow: 5px 10px #888888;
    margin-top:5px;
    background-color:white;
  }
  .readOnlyDisplay pre{
    text-align:left;
    word-wrap: break-word;
    max-width:100%;
    margin: 0px;
    padding: 8px;
  }
  .TitleSection{
    grid-column: 1;
    grid-row: 1;
  }
  .notebooklist{
    grid-column: 2/4;
    grid-row: 1;
  }
  input{
    color:rgb(12, 11, 11);
    width: 250px;
    height: 30px;
    text-align: center;
    box-align:center;
    border: none;
    border-bottom: 2px solid #4d5d53;
    background:none;
  }
  input[type=text]:focus{
    border: 3px solid darkgray;
  }
 
  button{
    background-color: #4d5d53;
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .TheNote textarea{    
    width:90%;
    height: 750px;
  }
  textarea{ 
    padding:10px;
    color:black;   
    background: none;
    border: 2px solid #4d5d53;
    border-radius: 8px;
    resize: none;
    background-color:white;
    box-shadow: 5px 6px #888888;
  }