 /*
lightest to darkest
#8f9779
#78866b
#738276
#738678
#4d5d53
*/
.basic{
  text-align: left;
}

.notebook-wrapper{
  display:grid;
  grid-template-columns:repeat(1,1fr);
  grid-auto-rows:minmax(20px,auto);
}
.notebook{
  grid-row: 1;
  grid-column:1;
  padding:10px 10px 10px 25px;
}

.page-wrapper{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-auto-rows:minmax(20px,auto);
  padding:10px 10px 10px 25px;
  border-top:1px solid black;
  border-left:1px solid black;
}
.page-inner-wrapper{
  display:grid;
  grid-template-columns:repeat(1,1fr);
  grid-auto-rows:minmax(20px,auto);
  padding:10px 10px 10px 25px;
  border-top:1px solid black;
  border-left:1px solid black;

}
.page-inner-wrapper{
  display:grid;
  grid-template-columns:repeat(1,1fr);
  grid-auto-rows:minmax(20px,auto);
  padding:10px 10px 10px 25px;
  border-top:1px solid black;
  border-left:1px solid black;

}
.awesome-wrapper{
  display:grid;
  grid-template-columns:repeat(1,1fr);
  grid-auto-rows:minmax(20px,auto);
  padding:10px 10px 10px 25px;
  border-top:1px solid black;
  border-left:1px solid black;

}
.awesome-col-one{
  Text-align: center;
}
.page-inner-col-one{
}
.page-inner-col-two{
  
}
.page-col-one-wrapper{
  display:grid;
  grid-template-columns:repeat(1,1fr);
  grid-auto-rows: max-content;
}
.page-col-one-row-one{
  grid-row: 1;
  grid-column:1;
  padding:10px 10px 10px 10px;
  border-bottom: 1px solid black;
}
.page-col-one-row-two{
  grid-row: 2;
  grid-column:1;
  padding:10px 10px 10px 40px;
}
.page-col-one-row-three{
  grid-row: 3;
  grid-column:1;
  padding:10px 10px 10px 40px;
}
.page-col-two-wrapper{
  display:grid;
  grid-template-columns:repeat(1,1fr);
  grid-auto-rows:minmax(20px,auto);
}
.page-col-two{
  grid-row: 1;
  grid-column:2;
  margin:10px 10px 10px 10px;
  border:1px solid black;
  padding:10px 10px 10px 10px;
}







/*Hub Section*/
.hub .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background: white;
    padding:10px 10px 0px 10px;
  }
  /*
  .hub .notelist {
    grid-row: 1;
    grid-column: 2;
  }
  .hub .notelist {
    grid-row: 1;
    grid-column: 1;

  }
  */
  .hub .new{
    grid-row:2;
    grid-column:2/3;
    /*border:1px solid black;*/
    padding-bottom: 50px;
    border:1px solid pink;
  }
  .hub .upload {
    grid-row: 3;
    grid-column: 2/3;
    /*border:1px solid black;*/
    padding-bottom: 50px;
  }
  .hub .crypt{
    grid-row: 4;
    grid-column: 2/3;

  }


/*Note Section*/
/*Wrapper Section */
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(25px, auto);
    background: white;
    padding:10px 10px 0px 10px;
    border:1px solid rgb(61, 235, 38);
  }
  .OverviewWrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(25px, auto);
      background: white;
      padding:10px 10px 0px 10px;
      border:1px solid rgb(27, 11, 167);
    }
  /*Wrapper Section */
  .TheAwesomeTextBox {
    grid-column: 1/3;
    grid-row: 1 ;
    border:1px solid purple;
  }
  .NoteSection { 
    grid-column: 1 /3;
    grid-row: 3;
    overflow:auto;
    height: 440px;
    border:1px solid blue;

  }
  .TheNote { 
    grid-column:  3;
    grid-row: 1;
    overflow:auto;
    height: 850px;
    border:1px solid red;
  }
  .readOnlyDisplay pre{
    text-align:left;
    word-wrap: break-word;
    margin: 0px;
  }
  .TheNoteTest { 
    
    grid-column: 4 ;
    grid-row: 1;
    border:1px solid red;
  }
  .Overview{
    grid-column: 1 / 4;
    grid-row: 1;
    border:1px solid orange;
  }
  .Overview .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    padding:5px 5px 0px 5px;
    border:1px solid orange;
  }
  .OverviewChild label{    
    font-size: 14px bold;
    position: center;
  }
  .OverviewChild{
    display: inline-block;
    max-width: 100%;
    border:1px solid orange;
  }
  .TheAwesomeTextBoxChild{
    display: inline-block;
    max-width: 100%;

  }
  .TitleSection{
    grid-column: 1;
    grid-row: 1;
    border:1px solid orange;
  }
  .notebooklist{
    grid-column: 2/4;
    grid-row: 1;
    border:1px solid orange;
  }
  .wrapper #TheAwesomeTextBox {
    grid-column: 1/3;
    grid-row: 1/4;

  }
  .wrapper #NoteSectionList {
    grid-column: 3/4;
    grid-row: 1/4;

  }
  .wrapper .SectionOneATB{
    grid-column: 1 / 3;
    grid-row:2 / 3;
    border:1px solid orange;
  }
  .wrapper .SectionTwoATB{
    grid-column: 3 / 4;
    grid-row:2 / 3 ;
    border:1px solid green;
  }
  .wrapper .SectionThreeATB{
    grid-column: 1 / 4;
    grid-row:1;
    border:1px solid blue;
  }

  input{
    color:rgb(12, 11, 11);
    width: 250px;
    height: 30px;
    text-align: center;
    box-align:center;
    border: none;
    border-bottom: 2px solid #4d5d53;
    background:none;
  }
  input[type=text]:focus{
    border: 3px solid darkgray;
  }
 
  button{
    background-color: #4d5d53;
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .TheNote textarea{    
    width:90%;
    height: 750px;
  }
  .TheAwesomeTextBox textarea{
    width:80%;
    height: 150px;

  }
 #NoteSectionList{    
    height: 400px;
    overflow:auto;
  }
  .TheAwesomeTextBox .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  textarea{ 
    padding:10px;
    color:black;   
    background: none;
    border: 2px solid #4d5d53;
    border-radius: 8px;
    resize: none;
  }
  .TheAwesomeTextBoxChild ul{
    list-style-type: none;
  }
  .inline-box-align{
    display: inline-block;
    

  }
  .NoteSection .wrapper #info_section{ 
    border: 2px solid #4d5d53;   
    grid-column: 1;
    grid-row: 1/4;
  }
  .NoteSection .wrapper #notes{ 
    grid-column: 2 / 4;
    grid-row: 1/4;
    text-align: justify;
    height: 300px;
    overflow:auto;
    border:1px solid red;
  }
  table tr td div{
    display:inline-block;
    padding: 0px 10px;
    font-size: 20px;
  }
  .noteSectionBackground td{
    background-color:#4d5d53;
    padding-bottom: 10px;  
    width:95%;
    vertical-align: center;

  }
  .noteSectionEdit button{
    padding: 5px 50px;
    margin: 0px;
  }
  .noteSectionEdit{
    line-height: 1px;
  }
  table{
    width:100%;
  }
  table tr td{ 
    display:inline-block;
    border-radius: 10px;
    color:white;

  }
  table tr {
    margin: 0px;
  }
  li div{
    font-size: 20px;
  }
  .inline-box-align button{
    padding: 5px 10px ;
    margin-right: 10px;
  }
  .rightAlign{
    text-align: right;
  }
  .leftAlign{
    text-align: left;
  }
  .TheAwesomeTextBoxChild ul{
    height: 225px;
    overflow:auto;

  }
  li #entryNumber{
    background-color: #4d5d53;
    margin-left: 10px;
    border-radius: 50%;
    font-size: 15px;
    padding: 2px 7px;
    color: white;
  }
  .tagFormat{
    padding: 5px 10px;
    font-size:12px;
    background-color: #4d5d53;
    color: white;
  }
  td textarea{
    padding-bottom: 0px;
  }
  .textareaFormat
{
  width: 100%;
  padding-bottom: 0px;
}